body {
    background-color: #FFC107;
}

.container {
    background-color: white;
    max-width: 800px;
    margin-top: 100px;
    padding: 40px;
    text-align: center;
    border-radius: 10px;
}

h1 {
    margin-bottom: 40px;
}

.button-links { 
    margin-top: 40px;
}